.logo {
  margin-left: 10px;
  font-size: 25px;
}

.spaceItems {
  font-size: 16px;
  margin-right: 10px;
}

.individualItems {
  margin: 10px;
}

.appBar {
  background-color: #eeedde;
  color: #203239;
  padding: 7px;
}


.individualItems:hover {
  text-decoration: underline;
  text-decoration-color: #F6762E !important;
  transition: 0.2s ease-in;
  font-weight: 500;
  text-decoration-thickness: 3px;
}