.regularHeading {
  text-align: left;
  color: #203239;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center !important;
}

.CardTtiles{
  color: #203239;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.BtnStyles{
  color: #203239;
  font-family: "Poppins", sans-serif !important;
  background-color: #D6D5C7;
  position: relative;
  left: 22%;
}

.cardBg{
  border: 1px solid #D6D5C7;
  border-radius: 4px;
  box-shadow: none;
}

.BtnStyles:hover{
  background-color: #203239;
  color: #ffff;
}

.paragraph{
  color: rgb(100, 100, 100);
}